<!-- <h3>This is where we create new avatars</h3>
 <%= form_for @avatar do |f| %>
  First name: <%= f.text_field :name %><br>
  Last name: <%= f.text_field :likes %><br>
  Costume ID: <%= f.collection_select(:costume_id, Costume.all, :id, :name) %><br>
  Character ID: <%= f.collection_select(:character_id, Character.all, :id, :name) %><br>
  User ID: <%= f.collection_select(:user_id, User.all, :id, :name) %><br>

  <%= f.submit %>
<% end %> -->
