<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
  <title>Home Page</title>
</head>
<body>

  <h1>Name: <%=@avatar.name%></h1>
  <h3>Likes: <%=@avatar.likes%></h3>
  <h3>User: <%= link_to @avatar.user.name, @avatar.user%></h3>
  <h3>Costume: <%=@avatar.costume.name%></h3>
  <h3>Character: <%=@avatar.character.name%></h3>
  <%= image_tag @avatar.image %>
  <button><%= link_to "Previous Avatar", user_avatar_path(@avatar.previous_avatar.user, @avatar.previous_avatar) %></button>
  <button><%= link_to "Next Avatar", user_avatar_path(@avatar.next_avatar.user, @avatar.next_avatar) %></button>
  <button><%= link_to "All #{@avatar.user.name} Avatar", user_avatars_path  %></button>

  <h3> Comments </h3>
  <% @avatar.comments.each do |comment| %>
  User: <%= comment.user.name %></p>
  <%= comment.content %><br>
  <% end %>

  <% if current_user != nil %>
  <%=button_to "Add Likes", like_path%>
  <%= form_for @comment, url: create_comment_path(@avatar.id) do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit "Save Comment" %>
    <% end %>
  <% end %>


  <% if @avatar.user == current_user %>
  <button><%= link_to "Edit Avatar", edit_user_avatar_path(@avatar.user, @avatar) %></button>
  <%= button_to "delete", user_avatar_path(@avatar.user, @avatar), :method => :delete %>
  <% end %>


</body>
</html>
